<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="workers" class="nav-link">Trabajadores</a>
      </li>
      <li class="nav-item">
        <a routerLink="workers/add" class="nav-link">Agregar Trabajadores</a>
      </li>

      <li class="nav-item">
        <a routerLink="assets" class="nav-link">Tipos de activos</a>
      </li>
      <li class="nav-item">
        <a routerLink="assets/add" class="nav-link">Agregar Tipos de activos</a>
      </li>

      <li class="nav-item">
        <a routerLink="physicalAssets" class="nav-link">Activos fisicos</a>
      </li>
      <li class="nav-item">
        <a routerLink="physicalAssets/add" class="nav-link">Agregar Activos fisicos</a>
      </li>
      <li class="nav-item">
        <a routerLink="physicalAssets/assignWorker" class="nav-link">Asignar trabajadores a activos fisicos</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>