<div style="width: 400px; margin: auto;">
    <div class="submit-form">
      <div *ngIf="!submitted">  
        <div class="form-group">
          <label for="name">Nombre</label>
          <input
            class="form-control"
            id="name"
            required
            [(ngModel)]="asset.name"
            name="name"
          />
        </div>
  
        <div class="form-group">
          <label for="lastName">Descripción</label>
          <input
            class="form-control"
            id="lastName"
            required
            [(ngModel)]="asset.description"
            name="lastName"
          />
        </div>
  
        <div class="form-group">
          <p>Estado</p>
          <label for="active">Activo</label>
          <input type="radio"
            class="form-control"
            id="active"
            [(ngModel)]="asset.state"
            name="state"
            value="1"
          />
          <label for="inactive">Inactivo</label>
          <input type="radio"
            class="form-control"
            id="inactive"
            [(ngModel)]="asset.state"
            name="state"
            value="0"
          />
        </div>
  
        <button (click)="saveAsset()" class="btn btn-success">Enviar</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Enviado correctamente!</h4>
        <button class="btn btn-success" (click)="newAsset()">Agregar</button>
      </div>
      
      <div *ngIf="error">
        <h4>Error!</h4>
      </div>
    </div>
  </div>
  