<div style="width: 400px; margin: auto;">
    <div *ngIf="currentAsset" class="edit-form">
      <h4>Tipo de activo</h4>
      <form>
        <div class="form-group">
          <label for="title">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="currentAsset.name"
            name="name"
          />
        </div>
        <div class="form-group">
          <label for="description">Descripción</label>
          <input
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="currentAsset.description"
            name="description"
          />
        </div>
  
        <div class="form-group" data-status>
            <p>Estado</p>
            <label for="active">Activo</label>
            <input type="radio"
              class="form-control"
              id="active"
              [(ngModel)]="currentAsset.state"
              name="state"
              value="1"
              [attr.checked]="currentAsset.state ? 'true' : null"
            />
            <label for="inactive">Inactivo</label>
            <input type="radio"
              class="form-control"
              id="inactive"
              [(ngModel)]="currentAsset.state"
              name="state"
              value="0"
              [attr.checked]="currentAsset.state ? null : 'true'"
            />
        </div>
  
  
      </form>
  
      <button class="badge badge-danger mr-2" (click)="deleteAsset()">
        Borrar
      </button>
  
      <button
        type="submit"
        class="badge badge-success"
        (click)="updateAsset()"
      >
        Actualizar
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentAsset">
      <br />
      <p>No se pudo acceder a este tipo de activo...</p>
    </div>

    <div *ngIf="error">
      <br />
      <h4>Error</h4>
    </div>
  </div>
  