<div style="width: 400px; margin: auto;">
    <div *ngIf="currentPhysicalAsset" class="edit-form">
      <h4>Activo Fisico</h4>
      <form>
        <div class="form-group">
          <label for="title">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="currentPhysicalAsset.name"
            name="name"
          />
        </div>
        <div class="form-group">
          <label for="description">Descripcion</label>
          <input
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="currentPhysicalAsset.description"
            name="description"
          />
        </div>
        <div class="form-group">
            <label for="year">Año</label>
            <input
              type="text"
              class="form-control"
              id="year"
              [(ngModel)]="currentPhysicalAsset.year"
              name="year"
            />
          </div>
          <div class="form-group">
            <label for="quantity">Cantidad</label>
            <input
              type="text"
              class="form-control"
              id="quantity"
              [(ngModel)]="currentPhysicalAsset.quantity"
              name="quantity"
            />
          </div>      
        <div class="form-group" data-status>
            <p>Estado</p>
            <label for="active">Activo</label>
            <input type="radio"
              class="form-control"
              id="active"
              [(ngModel)]="currentPhysicalAsset.state"
              name="state"
              value="1"
              [attr.checked]="currentPhysicalAsset.state ? 'true' : null"
            />
            <label for="inactive">Inactivo</label>
            <input type="radio"
              class="form-control"
              id="inactive"
              [(ngModel)]="currentPhysicalAsset.state"
              name="state"
              value="0"
              [attr.checked]="currentPhysicalAsset.state ? null : 'true'"
            />
        </div>
        <div class="form-group">
          <label for="assetId">Tipo de activo</label>
          <select
            class="form-control"
            id="assetId"
            required
            name="assetId"
            [(ngModel)]="currentPhysicalAsset.assetId.id">
            <option *ngFor="let asset of assets" [ngValue]="asset.id">{{asset.name}}</option>
          </select>
        </div>
  
      </form>
  
      <button class="badge badge-danger mr-2" (click)="deletePhysicalAsset()">
        Borrar
      </button>
  
      <button
        type="submit"
        class="badge badge-success"
        (click)="updatePhysicalAsset()"
      >
        Actualizar
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentPhysicalAsset">
      <br />
      <p>No se pudo acceder a este máquina...</p>
    </div>

    <div *ngIf="error">
      <br />
      <h4>Error</h4>
    </div>
  </div>
  